#grafica1, #grafica2 {
    border: 1px solid #fff; /* Añade un borde blanco para visualizar los contenedores */
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente visible para los contenedores */
}
