/* Estilos Generales */
body {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #333;
}

.navbar-brand {
    color: #fccb90;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: #fccb90;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #fff;
}

.dropdown-menu {
    background: #444;
}

.dropdown-item {
    color: #fccb90;
}

.dropdown-item:hover {
    background-color: #555;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 300px; /* Make sure it does not overlap with the navbar */
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

/* Formulario y botones */
form {
    margin-top: 20px;
}

input[type="file"] {
    color: white;
}

.btn {
    background: linear-gradient(to right, #dd3675, #b44593);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(to right, #b44593, #dd3675);
}
