.producto {
    border: 1px solid #ddd;
    padding: 10px;
    width: auto;
    box-sizing: border-box;
}

.producto img {
    height: 350px;
    width: auto;
}

.producto-detalle img {
    max-height: 100%;
    width: auto;
}

.producto-detalle {
    margin-top: 180px;
    margin-bottom:60px;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/*haciendo el css visible para todos los navegadores para los botones*/

.button-cart {
    background-color: #82da85 !important; /* Green */
    border: none !important;
    color: white !important;
    padding: 10px 22px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}

.button-cart:hover {
    background-color: #45a049 !important;
    font-size: 18px !important;
    /* transision de tamaño */
    transition: font-size 0.5s !important;
}

.button-buy {
    background-color: #f49089 !important; /* Red */
    border: none !important;
    color: white !important;
    padding: 10px 22px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}

.button-buy:hover {
    background-color: #f45a49 !important;
    font-size: 18px !important;
    /* transision de tamaño */
    transition: font-size 0.5s !important;
}