{% extends 'admin.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'colaboradores.css' %}">
{% endblock %}

{% block title %}Perfil de Colaboradores{% endblock %}


{% block content %}
<body>

<div class="profile">
    <img src="https://avatars.githubusercontent.com/u/157762700?v=4" alt="Student Photo" class="profile-photo">
    <h1>Fátima Florisel Cerezo Paredes</h1>
    <h3>Ingeniería en Ciencias y Sistemas</h3>
    <h5>Carnet: 202300434</h5>
    <p>Universidad de San Carlos de Guatemala</p>
    <p>Facultad de Ingeniería</p>
    <p>Introducción a la Programación y Computación 2</p>
</div>
</body>
<div class="profile">
    <img src="https://avatars.githubusercontent.com/u/128432510?v=4" alt="Student Photo" class="profile-photo">
    <h1>Daniel Andreé Hernandez Flores</h1>
    <h3>Ingeniería en Ciencias y Sistemas</h3>
    <h5>Carnet: 202300512</h5>
    <p>Universidad de San Carlos de Guatemala</p>
    <p>Facultad de Ingeniería</p>
    <p>Introducción a la Programación y Computación 2</p>
</div>
{% endblock %}
