<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil 202300512</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'colaboradores.css' %}">
</head>
<body>
    <div class="profile">
        <img src="https://avatars.githubusercontent.com/u/128432510?v=4" alt="Student Photo" class="profile-photo">
        <h1>Daniel Andreé Hernandez Flores</h1>
        <h3>Ingeniería en Ciencias y Sistemas</h3>
        <h5>Carnet: 202300512</h5>
        <p>Universidad de San Carlos de Guatemala</p>
        <p>Facultad de Ingeniería</p>
        <p>Introducción a la Programación y Computación 2</p>
    </div>
    <div class="profile">
        <img src="https://avatars.githubusercontent.com/u/157762700?v=4" alt="Student Photo" class="profile-photo">
        <h1>Fátima Florisel Cerezo Paredes</h1>
        <h3>Ingeniería en Ciencias y Sistemas</h3>
        <h5>Carnet: 202300434</h5>
        <p>Universidad de San Carlos de Guatemala</p>
        <p>Facultad de Ingeniería</p>
        <p>Introducción a la Programación y Computación 2</p>
    </div>
</body>
</html>
