{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}IPCmarket{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'Navbar.css' %}">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-brand">
                <img src="logo.png" alt="Logo">
            </div>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="#">Productos</a></li>
                <li class="navbar-item"><a href="#">Log out</a></li>
            </ul>
            <div class="navbar-icons">
                <a href="#" class="icon">👤</a>
                <a href="#" class="icon">🔍</a>
                <a href="#" class="icon">🛒</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>