{% extends 'admin.html' %}  <!-- Asegúrate de que el path a admin.html sea correcto -->

{% block title %}Carga de Usuarios - IPCmarket Admin{% endblock %}

{% block content %}
    <h1>Carga de Usuarios</h1>
    <p>Utiliza el siguiente formulario para cargar usuarios al sistema.</p>
    <form method="post" action="{% url 'carga_usuarios' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" class="form-control mb-3" id="fileInput" name="file">
        <button type="submit" class="btn btn-primary gradient-custom-2">Subir Archivo</button>
    </form>
    {% if success %}
    <div class="alert alert-success" role="alert">
        {{ success }}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
{% endblock %}

