{% extends 'admin.html' %}

{% block title %}Carga de Empleados - IPCmarket Admin{% endblock %}

{% block content %}
    <h1>Carga de Empleados</h1>
    <p>Utiliza el siguiente formulario para cargar empleados al sistema.</p>
    <form method="post" action="{% url 'carga_empleados' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" class="form-control mb-3" id="fileInput" name="file">
        <button type="submit" class="btn btn-primary gradient-custom-2">Subir Archivo</button>
    </form>

    {% if error %}
        <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% elif success %}
        <div class="alert alert-success d-flex align-items-center mt-3" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{ success }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    {% if xml_content %}
        <h2>Contenido del XML Cargado</h2>
        <textarea class="form-control my-3 xml-content" style="min-height: 300px">{{ xml_content|escape }}</textarea>
    {% endif %}
{% endblock %}
